body {
  background-color: #13222d;
  color: rgb(111, 252, 181);
  font-family: "Orbitron", sans-serif;
}

h1 {
  padding: 50px;
  font-size: 2em;
}

form {
  padding-bottom: 20px;
  padding-left: 50px;
  font-size: 0.8em;
}

input {
  width: 300px;
}

.form-inline {
  max-width: 400px;
}

.chart-container {
  border-radius: 8px;
  padding: 60px 30px 0px 30px;
  margin-bottom: 1.5em;
  background-color: #273241;
  max-height: 600px;
  display: inline-block;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.2);
}
